*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* variáveis */
:root{
    --primary-color:#47BEBA;
    --secondary-color:#F22E52;
    --text-color-button:#FFF;
    --padding-button:1rem 2rem;
}

.primary-color{
    background: var(--primary-color);
    color: var(--text-color-button);
    padding: var(--padding-button);
    display: inline-block;
    border-radius: 5px;
}

.secondary-color{
    background: var(--secondary-color);
    color: var(--text-color-button);
    padding: var(--padding-button);
    display: inline-block;
    border-radius: 5px;
}

.container{
    width: 1172px;
    margin: auto;
}

h1{
    font-family: "Biryani", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #160647;
}

h3{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 100px;
}

a{
    text-decoration: none;
    color: #160647;
}



/* top header */

.top-header{
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    padding-top: 40px;
}

.top-header header .container{
    display: flex;
    justify-content: space-between;

}

.top-header .logo{
    display: flex;
    align-items: center;
}

.top-header .logo h1{
    margin-right: 6px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 16px;
}

.login .primary-color{
    margin-left: 16px;
}

/*  cta */

.cta{
    padding: 208px 0;
}

.cta .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta h2{
    font-size: 64px;
    color: #160647;
    text-align: center;
}

.cta p{
    margin: 30px 0 40px;
    width: 697px;
    text-align: center;
    color: #6c6c6c
}

.cta a{
    margin: 0 10px;
}

.cta a:hover{
    box-shadow: 0 0 10px #AAA;
}

.brands .container{
    display: flex;
    justify-content: space-between;
    margin: 121px 180px 155px;
}

.about-us .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
}

.about-us h4{
    font-size: 40px;
}

.about-us p{
    margin: 23px 0 27px;
}

* our features */

.our-features .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.our-features .container .card {
    width: 300px;
    padding: 48px 32px;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
}

.our-features .container .card .icon-card {
    margin-right: 36px;
}

.our-features h4 {
    font-size: 20px;
    color: #160647;
}

.our-features p {
    color: #7A8994;
    margin: 25px 0 21px;
    font-size: 14px;
}

.our-features a {
    color: var(--primary-color);
    font-weight: 600;
    transition: all ease-in 0.3s;
}

.our-features a:hover {
    text-decoration: underline;
    color: #323232;
}

/* testimonial */

.testimonials .container {
    width: 821px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.testimonials h3 {
    width: 498px;
    text-align: center;
    margin: 100px auto;
}

.testimonial-card .perfil {
    display: flex;
    margin-bottom: 24px;
}

.testimonial-card .perfil .photo-perfil {
    margin-right: 16px;
}

.testimonials h4 {
    font-size: 20px;
    color: #160647;
}

.testimonial-card p {
    color: #7A8994;
}

/* works */


.works .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.works .image-work {
    margin-right: 48px;
}

.works .description-work h4 {
    font-size: 20px;
    color: #160647;
    margin-right: 18px;
}

.works .description-work h4 span {
    border: 1px solid #160647;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 29px;
}

.works .content-description-work {
    border-left: 1px dotted #B4B4B4;
    margin-left: 15px;
    padding-left: 42px;
    height: 300px;
}

.works .content-description-work ul {
    list-style: none;
    padding-left: 42px;
    font-size: 14px;
    color: #160647;
    line-height: 2;
    margin-top: 43px;
}

/* ready */


.ready .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ready h3 {
    margin-bottom: 30px;
}

.ready p {
    color: #160647;
    font-size: 14px;
    font-weight: 700;
}

.ready a {
    margin: 33px 0 53px;
}

.ready fieldset {
    display: flex;
    justify-content: space-between;
    border: none;
    gap: 60px;
}

/* footer-group */

.footer-group-links h5 {
    margin-bottom: 27px;
}

footer .container {
    margin: 27px auto;
    display: flex;
    justify-content: space-between;
}

.footer-group-links a {
    display: flex;
    margin-bottom: 15px;
    color: #313131;
    text-decoration: none;
}

.footer-group-links ul {
    list-style: none;
}


footer .container.top {
    border-top: 1px solid #000;
    padding-top: 105px;
}


/* logo-copy */
.logo-copyright h5 {
    color: #313131;
    font-weight: 600;
    font-size: 20px;
}

.logo-copyright {
    display: flex;
    justify-content: space-between;
    border: none;
    gap: 60px;
    color: #000;
    margin-top: 55px;
}

.container p {
    color: #313131;
}



.container .logo-copyright a {
    display: flex;
    margin-bottom: 15px;
    color: #313131;
    text-decoration: none;
}

footer{
    border-top: 1px solid #000;
    padding-top: 104px;
    margin-top: 265px;
}

.social-media {
    margin-top: 55px;
    display: flex;
    gap: 14px;
}

/* design responsivo */
@media (max-width:480px) {
    .container {
        width: 100% !important;
        flex-wrap: wrap;
    }

    .cta p .testimonials h3{
        width: 100%;
    }

    .brands .about-us-video{
        display: none;
    }

    img{
        max-width: 100%;
    }

    .works .image-work{
        margin-right: 0;
        margin-bottom: 20px;
    }

    .ready fieldset{
        flex-direction: column;
    }
}
